footer {
    padding: 50px 0;
    background-color: #1d2630;
    text-align: center;
    color: #fff;
    .container {
        @media (min-width: 768px) {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    .footerLogo {
        margin-bottom: 50px;
        @media (min-width: 768px) {
            margin: 0;
        }
    }
    .footerAddress {
        margin-bottom: 30px;
        address {
            margin-bottom: 25px;
            a {
                transition: all linear 0.2s;
                color: #fff;
                text-decoration: none;
                font-family: upgrade, sans-serif;
                font-style: normal;
                font-size: 16px;
                font-weight: 500;
                &:hover {
                    color: #ff61b6;
                }
                @media (min-width: 768px) {
                    font-size: 24px;
                }
            }
        }
        .socialFooter {
            a {
                display: inline-block;
                transition: all linear 0.2s;
                color: #65d1ff;
                font-size: 20px;
                margin: 0 3px;
                &:hover {
                    color: #ff61b6;
                }
                @media (min-width: 768px) {
                    font-size: 24px;
                }
            }
        }
        @media (min-width: 768px) {
            margin: 0;
        }
    }
    .footerNewsletter {
        margin-bottom: 40px;
        fieldset {
            position: relative;
            border: 0;
            padding: 0;
            label {
                display: block;
                margin-bottom: 10px;
                font-family: upgrade, sans-serif;
                font-weight: 500;
            }
            input {
                min-width: 300px;
                padding: 7px 15px;
                background: none;
                border: 1px solid #52c4d3;
                border-radius: 5px;
                color: #fff;
                font-size: 14px;
                font-family: upgrade, sans-serif;
                &::placeholder {
                    color: #fff;
                    opacity: 1;
                }
            }
            button {
                cursor: pointer;
                position: absolute;
                bottom: 6px;
                right: 2px;
                background: none;
                border: 0;
                color: #1ab6f1;
                font-size: 18px;
            }
        }
        @media (min-width: 768px) {
            margin: 0;
        }
    }
    .footerDppaLogo {
        width: 100%;
        @media (min-width: 768px) {
            margin-top: 20px;
            text-align: right;
        }
    }
    @media (min-width: 768px) {
        text-align: left;
    }
}
