header {
    position: relative;
    z-index: 2;
    padding: 15px 0;
    background-color: #1d2630;
    color: #fff;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .headerLogo {
        max-width: 55px;
        @media (min-width: 768px) {
            max-width: 100%;
        }
    }
}
