.hamburgerWrapper {
    position: relative;
    z-index: 2;
    .hamburger,
    .hamburger--squeeze.is-active {
        .hamburger-inner,
        .hamburger-inner::after,
        .hamburger-inner::before {
            background: #fff;
        }
    }
    @media (min-width: 768px) {
        display: none;
    }
}

.menuMobile {
    transition: all linear 0.25s;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -768px;
    width: 100%;
    height: 100%;
    background-color: #1d2630;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    ul {
        list-style: none;
        padding: 0;
        text-align: center;
        li {
            padding: 20px 0;
            a {
                display: block;
                color: #fff;
                text-decoration: none;
                font-size: 24px;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }
    @media (min-width: 768px) {
        display: none;
    }
}

.menuDesktop {
    display: none;
    ul {
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            margin: 0 20px;
            a {
                display: block;
                color: #fff;
                text-decoration: none;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 500;
                &:hover {
                    color: #bc61c6;
                    font-weight: 600;
                }
            }
            .btn {
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    @media (min-width: 768px) {
        display: block;
    }
}

.menuMobile--active {
    right: 0;
}
