.aboutUsCover {
    position: relative;
    z-index: 1;
    background: url(../images/about-page-cover-bg.png) #1d2630 center center;
    background-size: cover;
    padding: 50px 0;
    text-align: center;
    h1 {
        color: #ffffff;
        font-family: upgrade, sans-serif;
        font-size: 48px;
        font-weight: 700;
        @media (min-width: 1024px) {
            font-size: 70px;
        }
    }
}

.aboutUsIntro {
    padding: 50px 0;
    .container {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .aboutUsIntroImage {
        position: relative;
        left: -20px;
        .aboutUsIntroImageDrops {
            position: absolute;
            top: 0;
            z-index: 0;
            @media (max-width: 767px) {
                right: 0;
                max-width: 100px;
                transform: translate(50%, -50%);
            }
            @media (min-width: 768px) {
                left: 0;
                max-width: 40%;
                transform: translate(-50%, -50%);
            }
        }
        @media (min-width: 768px) {
            width: 48%;
            left: 0;
        }
    }
    .aboutUsIntroText {
        h2 {
            color: #223458;
            font-family: upgrade, sans-serif;
            font-size: 24px;
            font-weight: 700;
            span {
                font-weight: 400;
                text-transform: uppercase;
            }
            @media (min-width: 768px) {
                font-size: 36px;
            }
        }
        @media (min-width: 768px) {
            width: 48%;
        }
    }
    @media (min-width: 768px) {
        padding: 100px;
    }
}

.aboutUsSection2 {
    background-color: #ececec;
    padding: 50px 0;
    .container {
        @media (min-width: 768px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
        }
    }
    .aboutUsSection2Image {
        position: relative;
        left: -20px;
        .aboutUsIntroImageDrops {
            position: absolute;
            top: 0;
            z-index: 0;
            @media (max-width: 767px) {
                left: 0;
                max-width: 100px;
                transform: translate(50%, -50%);
            }
            @media (min-width: 768px) {
                right: 0;
                max-width: 40%;
                transform: translate(50%, -50%);
            }
        }
        @media (min-width: 768px) {
            width: 48%;
            left: 0;
        }
    }
    .aboutUsSection2Text {
        h2 {
            color: #223458;
            font-family: upgrade, sans-serif;
            font-size: 24px;
            font-weight: 700;
            span {
                display: block;
                font-weight: 400;
                text-transform: uppercase;
            }
            @media (min-width: 768px) {
                font-size: 36px;
            }
        }
        @media (min-width: 768px) {
            width: 48%;
        }
    }
    @media (min-width: 768px) {
        padding: 100px;
    }
}

.aboutUsDrops {
    padding: 50px 0;
    .dropsSlider {
        text-align: center;
        border: 0;
        margin: 0;
        ul {
            li {
                @media (min-width: 768px) {
                    width: 30%;
                    margin-bottom: 50px;
                }
            }
            @media (min-width: 768px) {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }
        .flex-direction-nav a {
            height: 24px;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        .flex-direction-nav .flex-prev {
            left: 0;
            opacity: 1;
            &:before {
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 24px;
                color: #9e9e9e;
                content: "\f053";
            }
        }
        .flex-direction-nav .flex-next {
            right: 0;
            opacity: 1;
            &:before {
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 24px;
                color: #9e9e9e;
                content: "\f054";
            }
        }
        img {
            width: auto;
            margin: auto;
            margin-bottom: 30px;
        }
        h3 {
            max-width: 250px;
            margin: auto;
            color: #00335a;
            font-family: upgrade, sans-serif;
            font-size: 18px;
            font-weight: 700;
            @media (min-width: 1024px) {
                font-size: 24px;
            }
        }
    }
    @media (min-width: 768px) {
        padding: 100px;
    }
}
