.whereToBuyPage {
    //background: red;
    padding: 50px 0;
    background-size: cover;
    background-position: center center;
    .whereToBuyPageTitle {
        text-align: center;
        margin-bottom: 50px;
        h1 {
            margin-bottom: 0;
            color: #ffffff;
            font-family: upgrade, sans-serif;
            font-size: 36px;
            font-weight: 700;
            span {
                font-size: 24px;
                font-weight: 400;
                text-transform: uppercase;
            }
            @media (min-width: 768px) {
                font-size: 60px;
            }
        }
        p {
            color: #ffffff;
            font-family: upgrade-lights, sans-serif;
            font-size: 16px;
            font-weight: 500;
            @media (min-width: 768px) {
                font-size: 18px;
            }
        }
    }
    .storeFilters {
        background: #fff;
        padding: 10px;
        .storeFilter {
            position: relative;
            margin: 5px;
            min-width: 300px;
            label {
                position: absolute;
                top: 8px;
                right: 8px;
                pointer-events: none;
                color: #bc61c6;
                font-size: 24px;
            }
            select {
                padding: 10px;
                width: 100%;
                border: 1px solid #a9a9a9;
                color: #333;
                appearance: none;
                font-size: 16px;
                font-family: upgrade-lights, sans-serif;
                font-weight: 500;
            }
        }
        @media (min-width: 768px) {
            display: flex;
            align-items: flex-start;
        }
    }

    .storeResults {
        background: #fff;
        .storeList {
            padding: 20px 10px;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                height: 100%;
                overflow-y: auto;
                li {
                    padding: 10px;
                    border-bottom: 1px solid #a9a9a9;
                    a {
                        font-family: upgrade-lights, sans-serif;
                        text-decoration: none;
                        color: #666;
                        font-size: 16px;
                    }
                    .storeName {
                        font-family: upgrade, sans-serif;
                        font-weight: 500;
                    }
                    .storeAddress,
                    .storeCity,
                    .storeState,
                    .storeZip {
                        display: inline-block;
                    }
                    .storePhone {
                        &:before {
                            font: normal normal normal 14px/1 FontAwesome;
                            content: "\f095";
                        }
                    }
                    .storeSite {
                        a {
                            font-size: 14px;
                        }
                        &:before {
                            font: normal normal normal 14px/1 FontAwesome;
                            content: "\f0c1";
                        }
                    }
                }
            }
            @media (min-width: 768px) {
                width: 30%;
            }
        }
        .mapIframe {
            padding: 20px 10px;
            iframe {
                width: 100% !important;
                @media (min-width: 768px) {
                    height: 100% !important;
                    min-height: 600px !important;
                }
            }
            @media (min-width: 768px) {
                width: 70%;
            }
        }
        @media (min-width: 768px) {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
        }
    }
}
