* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: upgrade-lights, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.body--locked {
    overflow: hidden !important;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

img {
    max-width: 100%;
}

.btn {
    position: relative;
    display: inline-block;
    background-color: #bc61c6;
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    &:after,
    &:before {
        background: darken(#bc61c6, 10%);
    }
}

.title {
    color: #00335a;
    text-align: center;
    h3 {
        margin-bottom: 20px;
        font-size: 30px;
        font-family: upgrade, sans-serif;
        font-size: 30px;
        font-weight: 700;
        @media (min-width: 768px) {
            font-size: 40px;
        }
    }
    &:after {
        display: block;
        content: "";
        background-color: #ff61b6;
        height: 2px;
        width: 300px;
        margin: auto;
        margin-bottom: 30px;
    }
}

@mixin ratio($width, $height) {
    position: relative;
    background-size: cover;
    background-position: center center;
    &:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.blogs {
    .container {
        @media (min-width: 768px) {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }
    article {
        background-color: #ededed;
        margin: 10px 5px;
        a {
            text-decoration: none;
        }
        .blogImage {
            @include ratio(380, 185);
        }
        .blogText {
            padding: 20px 15px;
            .blogDate,
            .blogTitle,
            .blogIntro,
            .blogReadMore {
                padding: 0 15px;
                color: #00335a;
                margin-bottom: 10px;
            }
            .blogDate {
                font-family: upgrade-lights, sans-serif;
                font-size: 12px;
                font-weight: 500;
                @media (min-width: 768px) {
                    font-size: 14px;
                }
            }
            .blogTitle {
                font-family: upgrade, sans-serif;
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 20px;
                h4 {
                    margin: 0;
                }
                @media (min-width: 768px) {
                    font-size: 24px;
                }
            }
            .blogIntro {
                border-left: solid 2px #ff61b6;
                font-family: upgrade-lights, sans-serif;
                font-size: 12px;
                font-weight: 500;
                @media (min-width: 768px) {
                    font-size: 14px;
                }
            }
            .blogReadMore {
                font-family: upgrade, sans-serif;
                font-size: 14px;
                font-weight: 700;
                font-style: italic;
                @media (min-width: 768px) {
                    font-size: 16px;
                }
            }
        }
        @media (min-width: 768px) {
            width: calc(33% - 10px);
        }
    }
}
