* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: upgrade-lights, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

img {
    max-width: 100%;
}

.btn {
    position: relative;
    display: inline-block;
    background-color: #bc61c6;
    padding: 10px 20px;
    color: #fff;
    &:after,
    &:before {
        background: darken(#bc61c6, 10%);
    }
}
